@import "../../node_modules/bootstrap/scss/bootstrap";

#nav {
  background-color: #3f647e;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  height: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  padding-right: 40px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  opacity: 0.6;
}
