@import "../../node_modules/bootstrap/scss/bootstrap";

#nav {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

#logo {
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-right: 40px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.carousel { 
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-item {
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel-cards {
  position: absolute;
  top: 400px;
  z-index: 10;
}

#carousel-card {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  padding: 15px;
}

#nyheter {
  padding-top: 60px;
  top: 660px;
  position: absolute;
  margin-left: 100px;
}