@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans'
}

#nav {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

#logo {
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-right: 40px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.carousel { 
  // position: absolute;
  top: 0;
  // width: 100%;
}
.carousel-item {
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel-cards {
  position: absolute;
  top: 400px;
  z-index: 10;
}

#carousel-card {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  padding: 15px;
}

#nyheter {
  padding-top: 60px;
  top: 660px;
  margin-left: 100px;
}

#produkter {
  padding-top: 60px;
}

#product-header {
  text-align: center;
}

#produkt1 {
  background-color: #236BAB;
  color: white;
  padding: 30px;
}

#produkt2 {
  background-color: mediumseagreen;
  color: white;
  padding: 30px;
}

#produkt3 {
  background-color: darkslategray;
  color: white;
  padding: 30px;
}

#kontakt {
  padding: 30px;
}

#contact-card {
  line-height: 1.3;
}

#contact-header {
  margin-top: 15px;
  margin-bottom: 3px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}